<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>134191357988-n5j64gfpgdfub2q82jadqo3sgsdmlj0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134191357988-n5j64gfpgdfub2q82jadqo3sgsdmlj0f</string>
	<key>API_KEY</key>
	<string>AIzaSyBphakJHif6WYdDxIK14yrY3nXxz2JpT-0</string>
	<key>GCM_SENDER_ID</key>
	<string>134191357988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carsonios.CardScanner</string>
	<key>PROJECT_ID</key>
	<string>cardscanner-9ef7a</string>
	<key>STORAGE_BUCKET</key>
	<string>cardscanner-9ef7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134191357988:ios:23758587b8d4bfc6</string>
	<key>DATABASE_URL</key>
	<string>https://cardscanner-9ef7a.firebaseio.com</string>
</dict>
</plist>